.flag {
  width: 22px;
  height: auto;
  border-radius: 2px;
  vertical-align: middle;
  box-shadow: 0 0 0.5px rgba(0,0,0,0.4);
}

.lang-switch {
  margin-left: 14px;
}

.lang-switch:hover .flag {
  transform: scale(1.05);
}
