---
---

@import "minimal-mistakes";

/* Centrage réel du contenu large */
.page__content,
.page__inner-wrap {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Largeur idéale pour dashboards */
.page__content {
  max-width: 1400px !important;
}
