---
---

@import "minimal-mistakes";

/* Contenu large et centré */
.page__content {
  max-width: 1400px !important;  /* étend la largeur */
  margin-left: auto !important;  /* centre le bloc */
  margin-right: auto !important;
  padding-left: 20px !important; /* petit padding pour lisibilité */
  padding-right: 20px !important;
}

/* Centrer l’iframe Tableau */
.tableauPlaceholder iframe,
.tableauViz {
  display: block;
  margin: 0 auto !important;
  width: 100% !important;
  height: 900px !important;
}
