---
---

@import "minimal-mistakes";

/* Centrage réel du contenu large */
.page__content,
.page__inner-wrap {
  margin-left: auto;
  margin-right: auto;
}

/* Largeur idéale pour dashboards */
.page__content {
  max-width: 1400px;
}
